@import "variaveis.css";

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/


.dropdown-menu{
	background-color: var(--weasy-fundo-mega-menu);
}

.megamenu {
	position: static;
}

.megamenu .dropdown-menu {
	background: none;
	border: none;
	width: 100%;
}

.text-uppercase {
	letter-spacing: 0.08em;
}

.text-small {
	font-size: 0.8rem;
}

.nav-link {
	padding: 0.3rem 1rem;
}

.mega-menu-subtitulo {
	color: var(--weasy-2);
	font-size: 1rem;
	font-weight: 600;
}

.mega-menu-subtitulo-item1 {
	color: var(--weasy-3);
	font-size: 1rem;
}

.dropdown-toggle::after{
	display: none;
}

.imagem-menu{
	background-image: url(../img/produto-dog.png);
	background-size: cover;
	width: 300px;
	height: 300px;
	background-repeat: no-repeat;
}

.imagem-menu-troca{
	background-image: url(../img/produto-gato.png);
	background-size: cover;
	width: 300px;
	height: 300px;
	background-repeat: no-repeat;
}

.imagem-menu-troca2{
	background-image: url(../img/produto-dog-05.png);
}

.imagem-menu-troca3{
	background-image: url(../img/produto-dog-06.png);
}

.imagem-menu-troca4{
	background-image: url(../img/banner-produto-dog-04.png);
}

.imagem-menu-troca5{
	background-image: url(../img/imagem-principal-1.png);
}

.imagem-menu-troca6{
	background-image: url(../img/imagem-principal-2.png);
}

.imagem-menu-troca7{
	background-image: url(../img/imagem-principal-3.png);
}

.imagem-menu-troca8{
	background-image: url(../img/imagem-principal-1.png);
}

.imagem-menu-troca9{
	background-image: url(../img/imagem-principal-2.png);
}

.imagem-menu-troca10{
	background-image: url(../img/imagem-principal-3.png);
}

.imagem-menu-troca11{
	background-image: url(../img/imagem-principal-1.png);
}

.imagem-menu-troca12{
	background-image: url(../img/imagem-reciclo.png);
}


.imagem-menu-troca13{
	background-image: url(../img/imagem-principal-2.png);
}

.imagem-menu-troca14{
	background-image: url(../img/imagem-principal-3.png);
}

.imagem-menu-troca15{
	background-image: url(../img/imagem-principal-1.png);
}

.imagem-menu-troca16{
	background-image: url(../img/imagem-reciclo.png);
}

.imagem-menu-troca17{
	background-image: url(../img/imagem-reciclo.png);
}


.imagem-menu-troca18{
	background-image: url(../img/imagem-principal-2.png);
}

.imagem-menu-troca19{
	background-image: url(../img/imagem-principal-3.png);
}

.imagem-menu-troca20{
	background-image: url(../img/imagem-principal-1.png);
}

.imagem-menu-troca21{
	background-image: url(../img/imagem-reciclo.png);
}

.imagem-menu-troca22{
	background-image: url(../img/imagem-reciclo.png);
}


.imagem-menu-troca23{
	background-image: url(../img/imagem-principal-2.png);
}

.imagem-menu-troca24{
	background-image: url(../img/imagem-principal-3.png);
}

.imagem-menu-troca25{
	background-image: url(../img/imagem-principal-1.png);
}

.imagem-menu-troca26{
	background-image: url(../img/imagem-reciclo.png);
}


.imagem-menu-troca27{
	background-image: url(../img/imagem-principal-2.png);
}

.imagem-menu-troca28{
	background-image: url(../img/imagem-principal-3.png);
}

.imagem-menu-troca29{
	background-image: url(../img/imagem-principal-1.png);
}

.imagem-menu-troca30{
	background-image: url(../img/imagem-reciclo.png);
}

.imagem-menu-troca31{
	background-image: url(../img/imagem-principal-2.png);
}

.imagem-menu-troca32{
	background-image: url(../img/imagem-principal-3.png);
}

.imagem-menu-troca33{
	background-image: url(../img/imagem-principal-1.png);
}

.imagem-menu-troca33{
	background-image: url(../img/imagem-reciclo.png);
}





