@import "variaveis.css";

/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.dropdown-menu {
	background-color: var(--weasy-fundo-mega-menu);
}

.megamenu {
	position: static;
}

.megamenu .dropdown-menu {
	background: none;
	border: none;
	width: 100%;
}

.text-uppercase {
	letter-spacing: 0.08em;
}

.text-small {
	font-size: 0.8rem;
}

.nav-link {
	padding: 0.3rem 1rem;
}

.mega-menu-subtitulo {
	color: var(--weasy-2);
	font-size: 1rem;
	font-weight: 600;
}

.mega-menu-subtitulo-item1 {
	color: var(--weasy-3);
	font-size: 1rem;
}

.dropdown-toggle::after {
	display: none;
}

.imagem-menu{
	border: none;
	width: 300px;
	height: 300px;
	opacity: 0;
}

.imagem-menu-troca{
	background-image: url(../img/weasy_cao.png);
	background-size: cover;
	width: 300px;
	height: 300px;
	background-repeat: no-repeat;
	opacity: 1;
	border: none;
}

.imagem-menu-troca2{
	background-image: url(../img/weasy_smart.png);
	opacity: 1;
	border: none;
}

.imagem-menu-troca3{
	background-image: url(../img/dispenser.png);
	opacity: 1;
}

.imagem-menu-troca5{
	background-image: url(../img/tapete_grama.png);
	opacity: 1;
}

.imagem-menu-troca6{
	background-image: url(../img/xixi_sim_xixi_nao.png);
	opacity: 1;
}

.imagem-menu-troca7{
	background-image: url(../img/petisco.png);
	opacity: 1;
}

.imagem-menu-troca8{
	background-image: url(../img/sacoco_casa.png);
	opacity: 1;
}

.imagem-menu-troca9{
	background-image: url(../img/sacoco_passeio.png);
	opacity: 1;
}

.imagem-menu-troca10{
	background-image: url(../img/desinfetante.png);
	opacity: 1;
}

.imagem-menu-troca11{
	background-image: url(../img/bolinha.png);
	opacity: 1;
}

.imagem-menu-troca12{
	background-image: url(../img/casco.png);
	opacity: 1;
}


.imagem-menu-troca13{
	background-image: url(../img/tapete_displasia_bege.png);
	opacity: 1;
}

.imagem-menu-troca14{
	background-image: url(../img/posca_branca.png);
	opacity: 1;
}

.imagem-menu-troca15{
	background-image: url(../img/adaptador_12.png);
	opacity: 1;
}

.imagem-menu-troca16{
	background-image: url(../img/cy.png);
	opacity: 1;
}


