@import "variaveis.css";

.produto-dog{
	background-color: var(--weasy-17);
}

.wrapper-produto-dog{
	display: flex;
	justify-content: center;
	flex-direction: column;
	height: 100%;
	padding-left: 5%;
}

.produto-dog-chapeu{
	font-size: 1.5rem;
	margin-bottom: 0;
}

.produto-dog-titulo{
	font-size: 4rem;
	font-weight: 800;
	margin-bottom: 0;
}

.produto-dog-label{
	// padding-top: calc(.375rem + 1px);
	// padding-bottom: calc(.375rem + 1px);
	padding-left: 0;
	padding-right: 0;
	margin-bottom: 0px;
    font-size: inherit;
	line-height: 2;
	font-size: 1.5rem;
	color: var(--weasy-2);
	

}

.produto-dog-quantidade{
	width: 55px;
	padding-right: 5px;
}

.produto-dog-tamanho{
	width: 250px;
}

.produto-dog-label-check{
	border: 1px solid black;
	margin-right: 20px;
}

.form-check-input{
	position: initial;
	margin-left: 0px;
}

input[type=radio]{
	content: '';
	appearance: none;
	-webkit-appearance: none;
	border: 2px solid var(--weasy-19);
	border-radius: 50px;
	width: 25px;
	height: 25px;
	vertical-align: bottom;
}

.-color-bandeja-1{
	background-color: var(--weasy-6);
}

.-color-bandeja-2{
	background-color: var(--weasy-7);
}

input[type=radio]:checked{
	padding: 5px;
	background-color: var(--weasy-20);
	background-image: url(../img/check.svg);
	background-size: cover;
	border-radius: 50px;
	padding: 5px;
	left: 0;
	bottom: 0;
	vertical-align: bottom;
	border: 2px solid var(--weasy-19);
}



.form-check{
	padding-left: 0;
}


.produto-dog-preco-condicoes {
	font-size: 1.5rem;
	margin-top: 0px;
	margin-bottom: 0;
	margin-block-start: 0;
	margin-block-end: 0;
	line-height: 1rem;
	color: var(--weasy-2);
}

.produto-preco-destaque{
	font-size: 2rem;
}

.produto-dog-preco {
	display: block;
	font-size: 1.5rem;
	margin-top: 10px;
	margin-bottom: 0px;
	color: var(--weasy-2);
}

.produto-dog-button {
	display: block;
	width: 175px;
	margin-top: 10px;
	margin-bottom: 10px;
	color: var(--weasy-2);
	text-decoration: none;
	user-select: none;
	background-color: var(--weasy-18);
	border: 1px solid transparent;
	border-radius: 50px;
	padding: 0.375rem;
	font-size: 1.3rem;
	font-weight: 800;
	line-height: 2rem;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.produto-dog-button:hover {
	text-decoration: none;
	color: var(--weasy-white);
	background-color: var(--weasy-6);
	letter-spacing: 0.03rem;
	transition: all 0.3s ease 0s;
}


